<?xml version="1.0" encoding="UTF-8"?>
<objects xmlns="http://www.springactionscript.org/schema/objects"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springactionscript.org/schema/objects http://www.springactionscript.org/schema/objects/spring-actionscript-objects-2.0.xsd">

	<!-- Views -->
	<!-- MenuView configurations. -->
	<object id="MenuView" class="com.lhyx.components.MenuView">
		<property name="percentHeight" value="100" />
		<property name="percentWidth" value="25" />
		<property name="treeMenu">
			<value>
				<object class="mx.controls.Tree">
					<property name="percentWidth" value="100" />
					<property name="percentHeight" value="100" />
					<property name="showRoot" value="false" />
					<property name="labelField" value="@name" />
				</object>
			</value>
		</property>
	</object>

	<!-- FileBrowser configurations. -->
	<object id="FileBrowser" class="com.lhyx.components.FileBrowser">
		<property name="percentWidth" value="100" />
<!-- 		<property name="percentHeight" value="100" /> -->
		<!-- Input configurations. -->
		<property name="inputLabel">
			<value>
				<object class="spark.components.Label">
					<property name="text" value="输入文件路径：" />
				</object>
			</value>
		</property>
		<property name="inputTextInput">
			<value>
				<object class="spark.components.TextInput">
					<property name="percentWidth" value="100" />
					<property name="editable" value="false" />
				</object>
			</value>
		</property>
		<property name="inputBrowserButton">
			<value>
				<object class="spark.components.Button">
					<property name="label" value="浏览" />
				</object>
			</value>
		</property>
		<!-- Output configurations. -->
		<property name="outputLabel">
			<value>
				<object class="spark.components.Label">
					<property name="text" value="输出文件路径：" />
				</object>
			</value>
		</property>
		<property name="outputTextInput">
			<value>
				<object class="spark.components.TextInput">
					<property name="percentWidth" value="100" />
					<property name="editable" value="false" />
				</object>
			</value>
		</property>
		<property name="outputBrowserButton">
			<value>
				<object class="spark.components.Button">
					<property name="label" value="浏览" />
				</object>
			</value>
		</property>
		<!-- Other configurations. -->
		<property name="clearButton">
			<value>
				<object class="spark.components.Button">
					<property name="label" value="清除" />
				</object>
			</value>
		</property>
		<property name="generateButton">
			<value>
				<object class="spark.components.Button">
					<property name="label" value="生成文件" />
					<property name="enabled" value="false" />
				</object>
			</value>
		</property>
		<!-- Layout -->
		<property name="inputGroup">
			<value>
				<object class="spark.components.HGroup">
					<property name="percentWidth" value="100" />
					<property name="verticalAlign" value="middle" />
					<property name="horizontalAlign" value="center" />
				</object>
			</value>
		</property>
		<property name="outputGroup">
			<value>
				<object class="spark.components.HGroup">
					<property name="percentWidth" value="100" />
					<property name="verticalAlign" value="middle" />
					<property name="horizontalAlign" value="center" />
				</object>
			</value>
		</property>
		<property name="otherGroup">
			<value>
				<object class="spark.components.HGroup">
					<property name="percentWidth" value="100" />
					<property name="verticalAlign" value="middle" />
					<property name="horizontalAlign" value="right" />
				</object>
			</value>
		</property>
		<property name="layout">
			<value>
				<object class="spark.layouts.VerticalLayout">
					<property name="verticalAlign" value="middle" />
					<property name="horizontalAlign" value="center" />
				</object>
			</value>
		</property>
	</object>
	
	<!-- OperationArea configurations. -->
	<object id="OperationArea" class="com.lhyx.components.OperationArea">
		<property name="percentWidth" value="100" />
		<property name="percentHeight" value="100" />
		<property name="layout">
			<value>
				<object class="spark.layouts.VerticalLayout">
					<property name="verticalAlign" value="middle" />
					<property name="horizontalAlign" value="left" />
				</object>
			</value>
		</property>
		<property name="logLabel">
			<value>
				<object class="spark.components.Label">
					<property name="text" value="日志信息：" />
				</object>
			</value>
		</property>
		<property name="logTextArea">
			<value>
				<object class="spark.components.TextArea">
					<property name="percentWidth" value="100" />
					<property name="percentHeight" value="100" />
					<property name="editable" value="false" />
				</object>
			</value>
		</property>
		<property name="viewStack">
			<value>
				<object class="mx.containers.ViewStack">
					<property name="percentWidth" value="100" />
					<property name="percentHeight" value="100" />
					<method-invocation name="addElement">
						<arg>
							<value>
								<object id="DefaultView" class="mx.containers.Canvas">
									<property name="id" value="defaultView" />
									<property name="percentWidth" value="100" />
									<property name="percentHeight" value="100" />
<!-- 									<property name="layout"> -->
<!-- 										<value> -->
<!-- 											<object class="spark.layouts.VerticalLayout"> -->
<!-- 												<property name="verticalAlign" value="middle" /> -->
<!-- 												<property name="horizontalAlign" value="center" /> -->
<!-- 											</object> -->
<!-- 										</value> -->
<!-- 									</property> -->
									<method-invocation name="addElement">
										<arg>
											<value>
												<object class="spark.components.Label">
													<property name="text" value="请选择左边的菜单！" />
													<method-invocation name="setStyle">
														<arg value="fontFamliy" />
														<arg value="宋体" />
													</method-invocation>
													<method-invocation name="setStyle">
														<arg value="fontWeight" />
														<arg value="bold" />
													</method-invocation>
													<method-invocation name="setStyle">
														<arg value="fontSize" />
														<arg value="24" />
													</method-invocation>
												</object>
											</value>
										</arg>
									</method-invocation>
								</object>
							</value>
						</arg>
					</method-invocation>
					<method-invocation name="addElement">
						<arg>
							<value>
								<object id="OperationView" class="mx.containers.Canvas">
									<property name="id" value="operationView" />
									<property name="percentWidth" value="100" />
									<property name="percentHeight" value="100" />
<!-- 									<property name="layout"> -->
<!-- 										<value> -->
<!-- 											<object class="spark.layouts.VerticalLayout"> -->
<!-- 												<property name="verticalAlign" value="middle" /> -->
<!-- 												<property name="horizontalAlign" value="center" /> -->
<!-- 											</object> -->
<!-- 										</value> -->
<!-- 									</property> -->
								</object>
							</value>
						</arg>
					</method-invocation>
				</object>
			</value>
		</property>
	</object>


	<!-- Presenter Managers -->
	<object id="MainPM" class="com.lhyx.presentermanager.MainPM">
		<property name="layout">
			<value>
				<object class="spark.layouts.HorizontalLayout">
					<property name="verticalAlign" value="middle" />
					<property name="horizontalAlign" value="left" />
					<property name="paddingLeft" value="5" />
					<property name="paddingTop" value="10" />
					<property name="paddingRight" value="5" />
					<property name="paddingBottom" value="10" />
				</object>
			</value>
		</property>
		<property name="showStatusBar" value="true" />
		<property name="statusText" value="欢迎使用ActionScript代码转换工具！" />
		<property name="menuViewPM" ref="MenuViewPM" />
		<property name="operationAreaPM" ref="OperationAreaPM" />
	</object>

	<object id="MenuViewPM" class="com.lhyx.presentermanager.MenuViewPM">
		<property name="menuView" ref="MenuView" />
	</object>
	
	<object id="FileBrowserPM" class="com.lhyx.presentermanager.FileBrowserPM">
		<property name="fileBrowser" ref="FileBrowser" />
<!-- 		<property name="converter"> -->
<!-- 			<value> -->
<!-- 				<object class="com.lhyx.utils.convert.java.GenerateJavaPOJO"> -->
<!-- 					<constructor-arg value="" /> -->
<!-- 				</object> -->
<!-- 			</value> -->
<!-- 		</property> -->
	</object>
	
	<object id="OperationAreaPM" class="com.lhyx.presentermanager.OperationAreaPM">
		<property name="operationArea" ref="OperationArea" />
		<property name="fileBrowserPM" ref="FileBrowserPM" />
	</object>

</objects>
